.one{
    background-color:aquamarine;
    height: 1000px;
    width: 100%;
    

}

.two{
    top: 0;
    z-index: +2;
    width: 96.2%;
    height: 7%;
    background-color:burlywood;
    position: fixed;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-size: 30px;
}

svg{
    float: inline-end;
    /* font-size: 10px; */
}
svg::hover{
    cursor: pointer;

}
.three{
    top:12%;
    position: absolute;
    background:linear-gradient(to left,#2c2d2d, black 90%);
    width: 98.9%;
    height: 600px;
    display: flex;
    z-index: 1;
    color: white;
    gap: 400px;
    font-size: 30px;
    
    
}
.text{
    margin:100px;
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2::after{
    content: "let's talk";
    color: red;
}
a{
    color: red;
    
}
a:hover{
    cursor: pointer;
    color: black;
}
button:hover{
    color: yellow;
    cursor: pointer;
    padding: 15px;
}
button{
    padding: 10px;
    background-color:green;
    border-radius: 10px;
}


.four{
    display: flex;
    
}
.five{
    width: 300px;
    height: 280px;
    background-color: aliceblue;
    margin-top:60%;
    margin-left: 50px;
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;

}
.four svg{
    width: 100px;
    height: 70px;
    padding-right: 100px;
    margin-top: 10px;

    
}
.six{
    background-color:cadetblue;
    width: 96.5%;
    height: 550px;
    margin-top: -159px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 250px;
    padding-left: 50px;
    display: flex;
    gap: 20px;
    
    

}
.icon{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.ezas4 svag{
    padding-left: 20px;
}
.seven h1{
    font-size: 4opx;
    /* font-family: 'Courier New', Courier, monospace  ; */
}
.eight{
    margin-left: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 20px; 
    
}
#Message{
    outline:0;
    border-width: 0 0 2px;
    border-color: black;
    height:120px;
    width:500px;
    font-size: 20px;
   
}
#submit{
    width: 500px;
}
.ezas1{
    /* margin-top: 0px; */
    margin-bottom: 200px;
}
#Email{
    outline: 0;
    border-width:0 0 2px;
    border-color: black;
    height: 40px;
    width: 150px;
    font-size: 20px;
}
#Name{
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    height: 40px;
    width: 150px;
    font-size: 20px;
}
.ezas2{
    background-color: #2c2d2d;
    color: white;
    height: 130px;
    width: 98.5s%;
    text-align: center;
    padding: 10px;
    
}
.ezas2 a{
    color: rgb(222, 132, 132);
    
}
a:hover{
    cursor: pointer;
    color: black;
}